@use '@/assets/styles/variables' as *;

.search {
  width: 100%;
  max-width: 600px;
  display: flex;

  &__input-wrapper {
    padding: 0 10px;
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 0.5rem;
    background-color: $green-light;
  }

  &__input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    color: $green-dark;
    outline: none;
    background-color: $green-light;
    transition: border-color 0.2s;

    &::placeholder {
      color: $dark;
    }

    // &:focus {
    // }
  }

  &__search-icon {
    color: $green-dark;
  }

  &__clear-btn {
    padding: 2px;
    background: none;
    border: none;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: all 0.3s;

    &:hover {
      background-color: $dark;

      .search__clear-icon {
        color: $green;
      }
    }
  }

  &__clear-icon {
    line-height: 1;
    color: $green-dark;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
